{% extends 'base.html' %}
{% load static %}


{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}
    <h2>Aca estan mis noticias</h2>
        <div class="submenu">
            <a href="{% url 'noticias:listar' %}">TODAS</a>
            {% for cat in categorias %}
                <a href="?id={{cat.pk}}">{{cat.nombre}}</a>
            {% endfor %}
        </div>
        {% if noticias %}  #pregunta si hay noticias, si no las hay muestra “no hay notis”
            {% for noti in noticias %}
                <img src="{{noti.imagen.url}}" width="50" alt="imagen">
                <p><a href="{% url 'noticias:detalle' noti.pk %}">TITULO: {{noti.titulo}}</a></p>
                <p>FECHA: {{noti.fecha_de_publicacion}}</p>
                <p>CATEGORIA: {{noti.categoria_noticia}}</p>
                <p>CONTENIDO: {{noti.contenido}}</p>
            {% endfor %}
        {% else %}
            <h2>no hay notis</h2>
        {% endif %}




{% endblock contenido %}
